@font-face {
    font-family: InstagramLogo;
    src: url(Grandista.ttf);
}

@font-face {
    font-family: TimelineText;
    src: url(expressway-rg.otf);
}


h1 {
    font-family: InstagramLogo;
    margin-right: 130px;
}

p {
    font-family: TimelineText;;
    font-size: small;
    color: rgb(29, 29, 29);
    margin: 0px;
}

.user {
    color: black;
    font-size: 14px;
    margin-right: 0px;
}

.stories-container {
    border-bottom: 1px lightgray solid;
    max-width: 400px;
}

.stories {
    border-radius: 50%;
    height: 66px;
    border: 2px rgb(0, 170, 0) solid;
    padding: 2px;
    margin: 8px 6px;
}

.icons-header {
    height: 30px;
    margin: 0px 10px;
}

.icons-timeline {
    height: 20px;
    margin: 1px 5px;
}

#save-icon {
    margin-left: 270px;
    height: 23px;
}

#perfil-stories {
    border: 2px lightgray solid;
}

#perfil-fumaca {
    border: 2px rgb(199, 0, 93) solid;
}

#perfil-timeline {
    height: 45px;
    border-radius: 50%;
    margin: 12px 12px 2px;
}

#post-timeline {
    border-radius: 0%;
    height: 400px;
}

.mentions-tags {
    color: rgb(0, 132, 255);
}