img {
    height: 300px;
    width: 100px;
    border: 5px dotted lightgreen;
    padding: 25px 32px 22px 13px;
}

.bolinha {
    width: 300px;
    border-radius: 25%;
}


div {
    width: 200px;
    height: 100px;
}
.extrapola {
    overflow: scroll;
}