@font-face {
    font-family: W95FA;
    src: url('assets/fonts/W95FA.otf');
}

@font-face {
    font-family: FGLight;
    src: url('assets/fonts/FranklinGothic-Light.ttf');
}

@font-face {
    font-family: FGCondensed;
    src: url('assets/fonts/FRAMDCN.ttf');
}

:root {
    --background-color: #008080;
    --light-gray: #c3c3c3;
    --white: #fdffff;
    --blue: #010081;
    --black: #000000;
    --header-height: 70px;
    --hero-height: 900px;
    --p-font-size: 20px;
    --card-width: 400px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background-color: var(--background-color);
    color: var(--white);
    font-family: W95FA;
}

header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    z-index: 2;
}

footer {
    display: flex;
    align-items: center;
    height: 29px;
    background-color: var(--light-gray);
    border-top: 1px solid var(--white);
}

a {
    text-decoration: none;
    color: inherit;
}


/* HEADER STYLING */

#top-bar {
    display: flex;
}

.icon-container {
    display: flex;
    flex-direction: column;
    margin-inline: 15px;
}

.icon {
    height: 32px;
    width: auto;
    object-fit: contain;
}

.icon-container span {
    padding-top: 4px;
    margin: 0;
}

#navbar-background {
    height: var(--header-height);
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    margin-top: var(--hero-height);
}

/* MAIN STYLING */

#hero {
    background-image: url("assets/images/hero.jpg");
    background-size: cover;
    height: var(--hero-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-family: FGCondensed;
    flex-direction: column;
    color: var(--black);
    position: absolute;
    width: 100%;
    top: 0;
}

.hero-heading {
    display: flex;
    flex-direction: column;
}

#regular {
    font-family: FGLight;
    font-weight: 200;
    margin-bottom: -60px;
}

#winLogo {
    height: 300px;
    width: auto;
}

/* SECTIONS STYLING */

.window {
    border: outset;
    background-color: var(--light-gray);
    margin: 40px 130px;
}

.window-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    margin: 2px;
}

.window-heading h2 {
    margin: 2px 0 2px 8px;
    font-size: 20px;
}

.window-icons {
    display: flex;
    align-items: center;
    margin-right: 2px;
}

.window-icon {
    background-color: var(--light-gray);
    border: outset var(--black);
    box-shadow: 1px;
    margin-inline: 1px;
}

.outset-border {
    border: outset var(--black);
}

/* SOBREMIM STYLING */

.window-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.window-content figure {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-direction: column;
}

.window-content img {
    height: 300px;
    object-fit: cover;
}

article p{
    margin: 30px 50px;
    max-width: 500px;
    font-size: var(--p-font-size);
    text-indent: 50px;
}

#selfie-img {
    height: 400px;
    width: auto;
}

/* CURIOSIDADES STYLING */

#curiosidades {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    width: var(--card-width);
    height: 500px;
    display: flex;
    flex-direction: column;
}

.card-figure {
    margin: 0 !important;
}

.card-figure img {
    max-width: calc(var(--card-width) - 30px);
}

/* FOOTER STYLING*/

#start-menu {
    border: outset;
    box-shadow: 1px;
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: 8px;
}

#menu-a {
    display: flex;
    align-items: center;
}

#start-menu img {
    height: 14px;
    width: auto;
    object-fit: contain;
}

#start-menu img, span {
    margin-inline: 3px;
}

#contato span{
    margin-right: 8px;
    border: inset;
    padding-inline: 3px;
}

#contato i {
    margin-right: 5px;
}